@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz@6..96&display=swap');
header {
    background-color: #fbffb9;
    color: #4a051c;    
}

nav a{
    color: #4a051c;
    text-decoration: none;
    font-size: 22px;
    padding: 50px;
    text-align: center;
    
}

body{
    background-color: #4a051c;
    color: #fbffb9;
    font-family: 'Bodoni Moda';
    
}

img{
    max-width: 200px;
    max-height: 200px;
}

#group-one{
    width: 300px;
    padding: 50px;
    margin: 20px;
    margin-bottom: 10px;
}

#group-two{
    width: 300px;
    padding: 50px;
    margin-left: 300px;
    margin-top: -370px;
    margin-bottom: 10px;
}

#group-three{
    width: 300px;
    padding: 50px;
    margin-left: 600px;
    margin-top: -370px;
    margin-bottom: 10px;
}

#group-four{
    width: 300px;
    padding: 50px;
    margin-left: 900px;
    margin-top: -370px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
#center{
    text-align: center;
}
#homepage-text{
    margin-left: 25px;
}

#motherhood-text{
    margin-left: 25px;
    margin-top: -15px;
}

#society-text{
    margin-left: 25px;
}

#marriage-text{
    margin-left: 25px;
    margin-top: -100px;
}

#domesticity-text{
    margin-left: 20px;
}